{% extends 'base.html' %}

{% block content %}

<div class="container">

<h2 class="mb-4">Volunteers</h2>

<div class="row">

{% for v in volunteers %}

<div class="col-md-4">

<div class="card p-3 mb-3 shadow-sm">

<h5>{{ v.first_name }} {{ v.last_name }}</h5>

<p><b>Phone:</b> {{ v.phone }}</p>
<p><b>Ward:</b> {{ v.ward }}</p>
<p><b>Polling Station:</b> {{ v.polling_station }}</p>
<p><b>Profession:</b> {{ v.profession }}</p>

</div>

</div>

{% empty %}

<p>No volunteers registered yet.</p>

{% endfor %}

</div>

</div>

{% endblock %}