{% extends 'base.html' %}

{% block content %}

<div class="container my-5">

<h2 class="text-center mb-5">Community Blogs</h2>

<div class="row">

<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">

<h5>Tree Planting Success</h5>

<p>
Over 500 trees planted in Laikipia county by volunteers.
</p>

<button class="btn btn-primary btn-sm">Read More</button>

</div>
</div>
</div>


<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">

<h5>Community Cleanup</h5>

<p>
Volunteers cleaned major towns improving sanitation.
</p>

<button class="btn btn-primary btn-sm">Read More</button>

</div>
</div>
</div>


<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">

<h5>Youth Empowerment</h5>

<p>
Training youth on digital skills and entrepreneurship.
</p>

<button class="btn btn-primary btn-sm">Read More</button>

</div>
</div>
</div>

</div>

</div>

{% endblock %}