{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <h2 class="mb-3">📊 Dashboard</h2>

    <!-- DOWNLOAD BUTTON -->
   {% if request.user.role == 'leader' or request.user.is_staff %}
<a href="{% url 'download_users_excel' %}" class="btn btn-success mb-3">
    ⬇ Download Users (Excel)
</a>
{% endif %}

    <!-- CREATE PROJECT (LEADER ONLY) -->
    {% if request.user.is_authenticated and request.user.role == 'leader' %}
        <a href="/create-project/" class="btn btn-primary mb-3">
            ➕ Create Project
        </a>
    {% endif %}

    <div class="row">

        {% for project in projects %}

        <div class="col-md-4">

            <div class="card p-3 mb-3 shadow-sm">

                <h5>{{ project.title }}</h5>

                <p class="text-muted">{{ project.location }}</p>

                <p>{{ project.description|slice:":80" }}...</p>

                <a href="/project/{{ project.id }}/"
                   class="btn btn-primary btn-sm w-100">
                    Open Project
                </a>

            </div>

        </div>

        {% empty %}

        <p>6 projects available.</p>

        {% endfor %}

    </div>

</div>

{% endblock %}