{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">📸 Community Gallery</h2>

    <div class="row">

        {% for img in images %}

        <div class="col-md-4 mb-3">

            <div class="card shadow-sm">

                <img src="{{ img.image.url }}" class="card-img-top" style="height:250px; object-fit:cover;">

                <div class="card-body">
                    <p class="card-text">{{ img.caption }}</p>
                </div>

            </div>

        </div>

        {% empty %}

        <p>No images uploaded yet.</p>

        {% endfor %}

    </div>

</div>

{% endblock %}