{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 col-md-4">

    <h4 class="text-center mb-3">Set New Password</h4>

    <!-- MESSAGES -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <!-- NEW PASSWORD -->
        <input type="password"
               name="password1"
               id="password1"
               class="form-control mb-2"
               placeholder="New password"
               required>

        <!-- CONFIRM PASSWORD -->
        <input type="password"
               name="password2"
               id="password2"
               class="form-control mb-3"
               placeholder="Confirm password"
               required>

        <!-- PASSWORD STRENGTH -->
        <small id="strength" class="text-muted"></small>

        <button class="btn btn-success w-100 mt-2">
            Reset Password
        </button>
    </form>

</div>

<!-- PASSWORD STRENGTH SCRIPT -->
<script>
const password = document.getElementById("password1");
const strength = document.getElementById("strength");

password.addEventListener("input", function () {

    let val = password.value;
    let score = 0;

    if (val.length >= 8) score++;
    if (/[A-Z]/.test(val)) score++;
    if (/[0-9]/.test(val)) score++;
    if (/[@$!%*?&]/.test(val)) score++;

    if (score <= 1) {
        strength.innerText = "Weak password";
        strength.style.color = "red";
    } else if (score == 2 || score == 3) {
        strength.innerText = "Medium strength password";
        strength.style.color = "orange";
    } else {
        strength.innerText = "Strong password";
        strength.style.color = "green";
    }
});
</script>

{% endblock %}