{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 col-md-6">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            💬 Task Chat - {{ task.title }}
        </div>

        <div class="card-body" style="height:400px; overflow-y:auto;">

            {% for comment in comments %}

                <div class="mb-2 
                    {% if comment.user == request.user %}
                        text-end
                    {% endif %}
                ">

                    <div class="p-2 rounded 
                        {% if comment.user == request.user %}
                            bg-primary text-white
                        {% else %}
                            bg-light
                        {% endif %}
                    " style="display:inline-block; max-width:70%;">

                        <small><strong>{{ comment.user.first_name }}</strong></small><br>

                        {{ comment.message }}<br>

                        <small class="text-muted">
                            {{ comment.created_at|date:"H:i" }}
                        </small>

                    </div>

                </div>

            {% empty %}
                <p>No messages yet.</p>
            {% endfor %}

        </div>

        <!-- SEND MESSAGE -->
        <div class="card-footer">
            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <input type="text"
                           name="message"
                           class="form-control"
                           placeholder="Type message..."
                           required>

                    <button class="btn btn-success">
                        Send
                    </button>
                </div>

            </form>
        </div>

    </div>

</div>

{% endblock %}